name: Release
on: 
  push:
    branches:
      - master
jobs:
  package:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-18.04, [self-hosted,linux,arm64]]
      fail-fast: true
    steps:
      - uses: actions/checkout@v1
      - name: Semantic Release
        # FIXME: change to released version
        uses: AutoModality/semantic-release-action@node-warning
        id: semantic   # `id` for output variables
        with:
          semantic_version: 16.0.4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Package
        if: steps.semantic.outputs.new_release_published == 'true'
        id: package
        uses: AutoModality/action-package-debian-ros@v1.3.1
        with:
          version: ${{ steps.semantic.outputs.new_release_version }}
          release-repo-entitlement: ${{ secrets.CLOUDSMITH_READ_RELEASE_ENTITLEMENT }}
      - name: The generated package
        run: echo "The artifact is ${{ steps.package.outputs.artifact-path }}"
      - name: Deploy
        if: steps.semantic.outputs.new_release_published == 'true'
        id: deploy
        uses: AutoModality/action-cloudsmith@0.2.0
        with:
          api-key: ${{ secrets.CLOUDSMITH_API_KEY }}
          command: 'push'
          format: 'deb'
          owner: 'automodality'
          repo: 'release'
          distro: 'ubuntu'
          release: 'xenial'
          file: '${{ steps.package.outputs.artifact-path }}'
